<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name ="description" content="game dev site">
                <title>LUA</title>
                <link rel="stylesheet" href="css/style.css">
                <link rel="shortcut icon" type="image/png" href="resources/images/proxy.duckduckgo.com.png">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            </head>

      <body>
          helloworld
      </body>
</html>